{% extends 'game/base.html' %}
{% block title %}Login{% endblock %}

{% block body %}
<div>
	<div class="modal-dialog">
		<div class="modal-content">

		<!-- header-->
		<div class="modal-header">
			<h3>Log In</h3>
		</div>

		<!-- body(form)-->
		<div class="modal-body">
			<form method="post" action="" enctype="multipart/form-data">
			{% csrf_token %}
			{{ form.as_p }}	

		</div>
				
			
		

		<!-- button-->
		<div class="modal-footer">
			<button class="btn btn-primary btn-block" type="submit">Log In</button>
		</div>
		</form>
		</div>
	</div>

	</div>
{% endblock %}